In [1]:
import pandas as pd

In [1]:
sheng = pd.read_csv(r'F:\camp\sheng.csv')
shi=pd.read_csv(r'F:\camp\shi.csv')
xian=pd.read_csv(r'F:\camp\xian.csv')
alarms=pd.read_csv(r'F:\camp\alarms.csv')
jizhan=pd.read_csv(r'F:\camp\jizhan.csv')

NameError: name 'pd' is not defined

In [5]:
jizhan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 5 columns):
jizhan_id       50000 non-null int64
alarm_object    50000 non-null object
jizhan_type     50000 non-null object
xian_id         50000 non-null int64
status          50000 non-null object
dtypes: int64(2), object(3)
memory usage: 1.9+ MB

In [6]:
jizhan.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>jizhan_id</th>
      <th>alarm_object</th>
      <th>jizhan_type</th>
      <th>xian_id</th>
      <th>status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>100010975325094</td>
      <td>洛阳市偃师布村F-HLH</td>
      <td>ENODEB</td>
      <td>1048</td>
      <td>在网</td>
    </tr>
    <tr>
      <th>1</th>
      <td>100011287557223</td>
      <td>洛阳市涧西东方医院住院部1E-HLW</td>
      <td>ENODEB</td>
      <td>100012643260583</td>
      <td>在网</td>
    </tr>
    <tr>
      <th>2</th>
      <td>100011305514648</td>
      <td>洛阳市涧西高新区丹尼斯1E-HLW</td>
      <td>ENODEB</td>
      <td>100012643260583</td>
      <td>在网</td>
    </tr>
    <tr>
      <th>3</th>
      <td>100011305514649</td>
      <td>洛阳市涧西河科大一附院外科楼1E-HLW</td>
      <td>ENODEB</td>
      <td>100012643260583</td>
      <td>在网</td>
    </tr>
    <tr>
      <th>4</th>
      <td>100011305514650</td>
      <td>洛阳市涧西容威家电1E-HLW</td>
      <td>ENODEB</td>
      <td>100012643260583</td>
      <td>在网</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
jizhan_in_use = jizhan[jizhan.status == '在网']
jizhan_in_use.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49772 entries, 0 to 49989
Data columns (total 5 columns):
jizhan_id       49772 non-null int64
alarm_object    49772 non-null object
jizhan_type     49772 non-null object
xian_id         49772 non-null int64
status          49772 non-null object
dtypes: int64(2), object(3)
memory usage: 2.3+ MB

In [8]:
alarms.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>serial_no</th>
      <th>alarm_no</th>
      <th>start_time</th>
      <th>end_time</th>
      <th>alarm_object</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>5565177705</td>
      <td>010-103-00-800160</td>
      <td>2018/8/8 13:22:05</td>
      <td>2018/8/8 13:24:38</td>
      <td>郑州市出版大厦-NLW</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5614709294</td>
      <td>010-103-00-800160</td>
      <td>2018/8/8 16:45:36</td>
      <td>2018/8/8 16:45:39</td>
      <td>郑州市金水未来路口-NLH</td>
    </tr>
    <tr>
      <th>2</th>
      <td>5625910562</td>
      <td>010-103-00-800532</td>
      <td>2018/8/8 3:28:34</td>
      <td>2018/8/8 3:28:35</td>
      <td>中牟县宽豪斯二期-NLW</td>
    </tr>
    <tr>
      <th>3</th>
      <td>5634563936</td>
      <td>010-103-00-800532</td>
      <td>2018/8/8 17:51:50</td>
      <td>2018/8/8 17:51:51</td>
      <td>郑州市百兴食品厂-NLH</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5637436328</td>
      <td>010-103-00-800160</td>
      <td>2018/8/8 23:50:36</td>
      <td>2018/8/8 15:39:10</td>
      <td>郑州市二十三中-NLH</td>
    </tr>
  </tbody>
</table>
</div>

In [9]:
standard_alarms=pd.merge(alarms,jizhan,on='alarm_object')
standard_alarms=pd.merge(standard_alarms,xian,on='xian_id')
standard_alarms=pd.merge(standard_alarms,shi,on='shi_id')
standard_alarms.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>serial_no</th>
      <th>alarm_no</th>
      <th>start_time</th>
      <th>end_time</th>
      <th>alarm_object</th>
      <th>jizhan_id</th>
      <th>jizhan_type</th>
      <th>xian_id</th>
      <th>status</th>
      <th>xian_name</th>
      <th>shi_id</th>
      <th>Unnamed: 3</th>
      <th>shi_name</th>
      <th>sheng_id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>5565177705</td>
      <td>010-103-00-800160</td>
      <td>2018/8/8 13:22:05</td>
      <td>2018/8/8 13:24:38</td>
      <td>郑州市出版大厦-NLW</td>
      <td>100012555582294</td>
      <td>ENODEB</td>
      <td>100012953886132</td>
      <td>在网</td>
      <td>郑东新区</td>
      <td>1001</td>
      <td>NaN</td>
      <td>郑州市</td>
      <td>1000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5634563936</td>
      <td>010-103-00-800532</td>
      <td>2018/8/8 17:51:50</td>
      <td>2018/8/8 17:51:51</td>
      <td>郑州市百兴食品厂-NLH</td>
      <td>100013588016436</td>
      <td>ENODEB</td>
      <td>100012953886132</td>
      <td>在网</td>
      <td>郑东新区</td>
      <td>1001</td>
      <td>NaN</td>
      <td>郑州市</td>
      <td>1000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>6010715957</td>
      <td>010-103-00-800160</td>
      <td>2018/8/8 14:33:51</td>
      <td>2018/8/8 14:33:52</td>
      <td>郑州市会展中心小区14-NLW</td>
      <td>100012555582032</td>
      <td>ENODEB</td>
      <td>100012953886132</td>
      <td>在网</td>
      <td>郑东新区</td>
      <td>1001</td>
      <td>NaN</td>
      <td>郑州市</td>
      <td>1000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>7977452966</td>
      <td>010-103-00-803001</td>
      <td>2018/8/6 18:01:24</td>
      <td>2018/8/6 18:05:55</td>
      <td>郑州市会展中心小区14-NLW</td>
      <td>100012555582032</td>
      <td>ENODEB</td>
      <td>100012953886132</td>
      <td>在网</td>
      <td>郑东新区</td>
      <td>1001</td>
      <td>NaN</td>
      <td>郑州市</td>
      <td>1000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>7977455582</td>
      <td>010-103-00-800643</td>
      <td>2018/8/6 18:02:13</td>
      <td>2018/8/6 18:06:05</td>
      <td>郑州市会展中心小区14-NLW</td>
      <td>100012555582032</td>
      <td>ENODEB</td>
      <td>100012953886132</td>
      <td>在网</td>
      <td>郑东新区</td>
      <td>1001</td>
      <td>NaN</td>
      <td>郑州市</td>
      <td>1000</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
standard_alarms['end_time'] =pd.to_datetime(standard_alarms['end_time'])
standard_alarms['start_time'] =pd.to_datetime(standard_alarms['start_time'])

In [11]:
standard_alarms.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171180 entries, 0 to 171179
Data columns (total 14 columns):
serial_no       171180 non-null int64
alarm_no        171180 non-null object
start_time      171180 non-null datetime64[ns]
end_time        171180 non-null datetime64[ns]
alarm_object    171180 non-null object
jizhan_id       171180 non-null int64
jizhan_type     171180 non-null object
xian_id         171180 non-null int64
status          171180 non-null object
xian_name       171180 non-null object
shi_id          171180 non-null int64
Unnamed: 3      0 non-null float64
shi_name        171180 non-null object
sheng_id        171180 non-null int64
dtypes: datetime64[ns](2), float64(1), int64(5), object(6)
memory usage: 19.6+ MB

In [13]:
zero = pd.to_datetime('2018-08-08 00:00:00')
two_four = pd.to_datetime('2018-08-09 00:00:00')
standard_alarms[(standard_alarms.start_time < two_four)] \
    [standard_alarms.start_time >= zero].groupby('shi_name').describe() \
    ['serial_no'].sort_values(by='count', ascending=False)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>count</th>
      <th>mean</th>
      <th>std</th>
      <th>min</th>
      <th>25%</th>
      <th>50%</th>
      <th>75%</th>
      <th>max</th>
    </tr>
    <tr>
      <th>shi_name</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>洛阳市</th>
      <td>47054.0</td>
      <td>7.983990e+09</td>
      <td>5.186697e+05</td>
      <td>7.983715e+09</td>
      <td>7.983784e+09</td>
      <td>7.983862e+09</td>
      <td>7.983932e+09</td>
      <td>7.986285e+09</td>
    </tr>
    <tr>
      <th>南阳市</th>
      <td>5559.0</td>
      <td>7.978243e+09</td>
      <td>1.003350e+08</td>
      <td>6.030914e+09</td>
      <td>7.984202e+09</td>
      <td>7.984214e+09</td>
      <td>7.984223e+09</td>
      <td>7.986286e+09</td>
    </tr>
    <tr>
      <th>信阳市</th>
      <td>4935.0</td>
      <td>7.984229e+09</td>
      <td>4.004173e+05</td>
      <td>7.983718e+09</td>
      <td>7.984119e+09</td>
      <td>7.984127e+09</td>
      <td>7.984135e+09</td>
      <td>7.986284e+09</td>
    </tr>
    <tr>
      <th>郑州市</th>
      <td>4340.0</td>
      <td>7.970060e+09</td>
      <td>1.691028e+08</td>
      <td>5.565178e+09</td>
      <td>7.984850e+09</td>
      <td>7.985421e+09</td>
      <td>7.985895e+09</td>
      <td>7.986288e+09</td>
    </tr>
    <tr>
      <th>周口市</th>
      <td>3672.0</td>
      <td>7.984412e+09</td>
      <td>5.690131e+05</td>
      <td>7.983708e+09</td>
      <td>7.984153e+09</td>
      <td>7.984162e+09</td>
      <td>7.984172e+09</td>
      <td>7.986287e+09</td>
    </tr>
    <tr>
      <th>安阳市</th>
      <td>1339.0</td>
      <td>7.983485e+09</td>
      <td>3.062927e+06</td>
      <td>7.979057e+09</td>
      <td>7.979091e+09</td>
      <td>7.985365e+09</td>
      <td>7.985909e+09</td>
      <td>7.986288e+09</td>
    </tr>
    <tr>
      <th>开封市</th>
      <td>712.0</td>
      <td>7.968281e+09</td>
      <td>1.716920e+08</td>
      <td>5.979035e+09</td>
      <td>7.984884e+09</td>
      <td>7.985555e+09</td>
      <td>7.985771e+09</td>
      <td>7.986278e+09</td>
    </tr>
    <tr>
      <th>驻马店市</th>
      <td>643.0</td>
      <td>7.985460e+09</td>
      <td>5.625887e+05</td>
      <td>7.983711e+09</td>
      <td>7.985154e+09</td>
      <td>7.985561e+09</td>
      <td>7.985880e+09</td>
      <td>7.986286e+09</td>
    </tr>
    <tr>
      <th>新乡市</th>
      <td>496.0</td>
      <td>7.985246e+09</td>
      <td>7.216599e+05</td>
      <td>7.983717e+09</td>
      <td>7.984593e+09</td>
      <td>7.985323e+09</td>
      <td>7.985911e+09</td>
      <td>7.986285e+09</td>
    </tr>
    <tr>
      <th>三门峡市</th>
      <td>385.0</td>
      <td>7.985486e+09</td>
      <td>6.438302e+05</td>
      <td>7.983768e+09</td>
      <td>7.985009e+09</td>
      <td>7.985733e+09</td>
      <td>7.985977e+09</td>
      <td>7.986278e+09</td>
    </tr>
    <tr>
      <th>许昌市</th>
      <td>365.0</td>
      <td>7.981347e+09</td>
      <td>7.196246e+07</td>
      <td>6.610337e+09</td>
      <td>7.984477e+09</td>
      <td>7.985051e+09</td>
      <td>7.985762e+09</td>
      <td>7.986232e+09</td>
    </tr>
    <tr>
      <th>鹤壁市</th>
      <td>324.0</td>
      <td>7.985284e+09</td>
      <td>5.472226e+05</td>
      <td>7.983716e+09</td>
      <td>7.985007e+09</td>
      <td>7.985133e+09</td>
      <td>7.985738e+09</td>
      <td>7.986278e+09</td>
    </tr>
    <tr>
      <th>濮阳市</th>
      <td>318.0</td>
      <td>7.985069e+09</td>
      <td>6.889440e+05</td>
      <td>7.983720e+09</td>
      <td>7.984566e+09</td>
      <td>7.985124e+09</td>
      <td>7.985560e+09</td>
      <td>7.986278e+09</td>
    </tr>
    <tr>
      <th>商丘市</th>
      <td>289.0</td>
      <td>7.985552e+09</td>
      <td>5.454995e+05</td>
      <td>7.983869e+09</td>
      <td>7.985232e+09</td>
      <td>7.985740e+09</td>
      <td>7.985933e+09</td>
      <td>7.986281e+09</td>
    </tr>
    <tr>
      <th>焦作市</th>
      <td>285.0</td>
      <td>7.985141e+09</td>
      <td>7.300869e+05</td>
      <td>7.983714e+09</td>
      <td>7.984468e+09</td>
      <td>7.985357e+09</td>
      <td>7.985741e+09</td>
      <td>7.986261e+09</td>
    </tr>
    <tr>
      <th>平顶山市</th>
      <td>275.0</td>
      <td>7.956303e+09</td>
      <td>2.431188e+08</td>
      <td>5.801046e+09</td>
      <td>7.985408e+09</td>
      <td>7.985621e+09</td>
      <td>7.986022e+09</td>
      <td>7.986287e+09</td>
    </tr>
    <tr>
      <th>济源市</th>
      <td>193.0</td>
      <td>7.985090e+09</td>
      <td>7.815783e+05</td>
      <td>7.983768e+09</td>
      <td>7.984576e+09</td>
      <td>7.985168e+09</td>
      <td>7.985714e+09</td>
      <td>7.986285e+09</td>
    </tr>
    <tr>
      <th>漯河市</th>
      <td>115.0</td>
      <td>7.985323e+09</td>
      <td>6.795817e+05</td>
      <td>7.984063e+09</td>
      <td>7.984806e+09</td>
      <td>7.985361e+09</td>
      <td>7.985900e+09</td>
      <td>7.986273e+09</td>
    </tr>
  </tbody>
</table>
</div>

In [14]:
zero = pd.to_datetime('2018-08-08 00:00:00')
two_four = pd.to_datetime('2018-08-09 00:00:00')
down_alarms=standard_alarms[(standard_alarms.end_time < two_four)] \
    [standard_alarms.alarm_no=='007-103-00-040012']\
    .sort_values(by='start_time')

In [117]:
down_alarms.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1937 entries, 85444 to 161523
Data columns (total 13 columns):
serial_num      1937 non-null int64
alarm_no        1937 non-null object
start_time      1937 non-null datetime64[ns]
end_time        1937 non-null datetime64[ns]
alarm_object    1937 non-null object
jizhan_id       1937 non-null int64
type            1937 non-null object
xian_id         1937 non-null int64
status          1937 non-null object
xian_name       1937 non-null object
shi_id          1937 non-null int64
shi_name        1937 non-null object
sheng_id        1937 non-null int64
dtypes: datetime64[ns](2), int64(5), object(6)
memory usage: 211.9+ KB

In [15]:
down_alarms.tail()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>serial_no</th>
      <th>alarm_no</th>
      <th>start_time</th>
      <th>end_time</th>
      <th>alarm_object</th>
      <th>jizhan_id</th>
      <th>jizhan_type</th>
      <th>xian_id</th>
      <th>status</th>
      <th>xian_name</th>
      <th>shi_id</th>
      <th>Unnamed: 3</th>
      <th>shi_name</th>
      <th>sheng_id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>79209</th>
      <td>7986252076</td>
      <td>007-103-00-040012</td>
      <td>2018-08-08 11:43:43</td>
      <td>2018-08-08 11:45:34</td>
      <td>安阳市文峰区超越城市广场-HLH</td>
      <td>100013050263262</td>
      <td>ENODEB</td>
      <td>100012987856951</td>
      <td>在网</td>
      <td>文峰区</td>
      <td>1005</td>
      <td>NaN</td>
      <td>安阳市</td>
      <td>1000</td>
    </tr>
    <tr>
      <th>107530</th>
      <td>7986258172</td>
      <td>007-103-00-040012</td>
      <td>2018-08-08 11:45:07</td>
      <td>2018-08-08 11:51:07</td>
      <td>洛阳市涧西美景新城一期1E-HLW</td>
      <td>100013768583555</td>
      <td>ENODEB</td>
      <td>100012643260583</td>
      <td>在网</td>
      <td>涧西区</td>
      <td>1004</td>
      <td>NaN</td>
      <td>洛阳市</td>
      <td>1000</td>
    </tr>
    <tr>
      <th>103169</th>
      <td>7986260117</td>
      <td>007-103-00-040012</td>
      <td>2018-08-08 11:45:35</td>
      <td>2018-08-08 11:45:36</td>
      <td>洛阳市伊川新江左F-HLH</td>
      <td>100012515977558</td>
      <td>ENODEB</td>
      <td>1057</td>
      <td>在网</td>
      <td>伊川县</td>
      <td>1004</td>
      <td>NaN</td>
      <td>洛阳市</td>
      <td>1000</td>
    </tr>
    <tr>
      <th>79210</th>
      <td>7986277988</td>
      <td>007-103-00-040012</td>
      <td>2018-08-08 11:49:50</td>
      <td>2018-08-08 11:51:35</td>
      <td>安阳市文峰区超越城市广场-HLH</td>
      <td>100013050263262</td>
      <td>ENODEB</td>
      <td>100012987856951</td>
      <td>在网</td>
      <td>文峰区</td>
      <td>1005</td>
      <td>NaN</td>
      <td>安阳市</td>
      <td>1000</td>
    </tr>
    <tr>
      <th>161523</th>
      <td>7986278274</td>
      <td>007-103-00-040012</td>
      <td>2018-08-08 11:50:02</td>
      <td>2018-08-08 11:50:03</td>
      <td>鹤壁市市区北辰嘉园1-HLW</td>
      <td>100015077340010</td>
      <td>ENODEB</td>
      <td>100012647193983</td>
      <td>在网</td>
      <td>淇滨区</td>
      <td>1018</td>
      <td>NaN</td>
      <td>鹤壁市</td>
      <td>1000</td>
    </tr>
  </tbody>
</table>
</div>

In [17]:
new_time_serial = down_alarms[['serial_no', 'start_time', 'shi_name']]
new_time_serial.rename(columns={'start_time': 'time'}, inplace=True)
new_time_serial['type'] = 'start'
new_time_serial.head()

D:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>serial_no</th>
      <th>time</th>
      <th>shi_name</th>
      <th>type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>85444</th>
      <td>7968351337</td>
      <td>2018-08-04 19:31:07</td>
      <td>洛阳市</td>
      <td>start</td>
    </tr>
    <tr>
      <th>85376</th>
      <td>7968350707</td>
      <td>2018-08-04 19:31:35</td>
      <td>洛阳市</td>
      <td>start</td>
    </tr>
    <tr>
      <th>85461</th>
      <td>7968355484</td>
      <td>2018-08-04 19:32:24</td>
      <td>洛阳市</td>
      <td>start</td>
    </tr>
    <tr>
      <th>85432</th>
      <td>7968356763</td>
      <td>2018-08-04 19:32:54</td>
      <td>洛阳市</td>
      <td>start</td>
    </tr>
    <tr>
      <th>60066</th>
      <td>7968358840</td>
      <td>2018-08-04 19:33:16</td>
      <td>三门峡市</td>
      <td>start</td>
    </tr>
  </tbody>
</table>
</div>

In [18]:
new_time_serial_end= down_alarms[['serial_no','end_time','shi_name']]
new_time_serial_end.rename(columns={'end_time': 'time'}, inplace=True)
new_time_serial_end['type']='end'
new_time_serial_end.head()

D:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3778: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>serial_no</th>
      <th>time</th>
      <th>shi_name</th>
      <th>type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>85444</th>
      <td>7968351337</td>
      <td>2018-08-04 19:44:48</td>
      <td>洛阳市</td>
      <td>end</td>
    </tr>
    <tr>
      <th>85376</th>
      <td>7968350707</td>
      <td>2018-08-04 21:02:27</td>
      <td>洛阳市</td>
      <td>end</td>
    </tr>
    <tr>
      <th>85461</th>
      <td>7968355484</td>
      <td>2018-08-04 21:02:24</td>
      <td>洛阳市</td>
      <td>end</td>
    </tr>
    <tr>
      <th>85432</th>
      <td>7968356763</td>
      <td>2018-08-04 21:02:30</td>
      <td>洛阳市</td>
      <td>end</td>
    </tr>
    <tr>
      <th>60066</th>
      <td>7968358840</td>
      <td>2018-08-04 19:35:05</td>
      <td>三门峡市</td>
      <td>end</td>
    </tr>
  </tbody>
</table>
</div>

In [19]:
new_serial=new_time_serial.append(new_time_serial_end)
new_serial=new_serial.sort_values(by=['time'])

In [20]:
new_serial.to_csv(r'C:\Users\Loyocc\Desktop\new_time_serial.csv')

In [21]:
now_down_dict = {'安阳市': {'count': 0, 'status': 0}}
for index, row in new_serial.iterrows():
    if row['type'] == 'start':
        now_down_dict[row['shi_name']]=now_down_dict.get(row['shi_name'],{'count': 0, 'status': 0})
        now_down_dict[row['shi_name']]['count'] =now_down_dict.get(row['shi_name']).get('count') + 1
        current_status = now_down_dict[row['shi_name']].get('status', 0)
        if (now_down_dict[row['shi_name']]['count'] >= 60 and current_status == 0):
            print("%s 发生二级预警 :%s" % (row['shi_name'], row['time']))
            now_down_dict[row['shi_name']]['status'] = 2
        elif (now_down_dict[row['shi_name']]['count'] >= 150 and current_status != 1):
            print("%s 发生一级预警 :%s" % (row['shi_name'], row['time']))
            now_down_dict[row['shi_name']]['status'] = 1
    else:
        now_down_dict[row['shi_name']]['count'] =now_down_dict.get(row['shi_name']).get('count') - 1
        current_status = now_down_dict[row['shi_name']].get('status', 0)
        if (now_down_dict[row['shi_name']]['count'] < 150 and current_status == 1):
            print("%s 解除一级预警 :%s" % (row['shi_name'], row['time']))
            now_down_dict[row['shi_name']]['status'] = 2
        elif (now_down_dict[row['shi_name']]['count'] < 60 and current_status != 0):
            print("%s 解除所有预警 :%s" % (row['shi_name'], row['time']))
            now_down_dict[row['shi_name']]['status'] = 0

安阳市 发生二级预警 :2018-08-08 02:03:26
安阳市 发生一级预警 :2018-08-08 02:03:53
安阳市 解除一级预警 :2018-08-08 02:06:03
安阳市 解除所有预警 :2018-08-08 02:07:59